@model ProductStore.Web.UI.Models.Home.HomeModel

@{
	ViewBag.Title = "Product browser";
}

<h1>Check out our products</h1>

<div class="row">
	<div class="col-md-4">
		<h3>Please select a category</h3>
		@Html.DropDownListFor(m => m.ProductCategories, 
			new SelectList(Model.ProductCategories.Select(s => s.Name)), 
			"Select Product type")
	</div>
	
	<div>
		<h3>Products</h3>
	</div>


</div>